In [1]:
import numpy as np
import pandas as pd

In [2]:
titanic = pd.read_csv('Exercise/titanic.csv')

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df = titanic[['Pclass', 'Sex', 'Age', 'Fare', 'Survived']]

In [5]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [6]:
df.shape

(891, 5)

In [7]:
df.isna().sum()

Pclass        0
Sex           0
Age         177
Fare          0
Survived      0
dtype: int64

In [8]:
!pip install missingpy

Requirement already satisfied: missingpy in c:\users\windows10\anaconda3\lib\site-packages (0.2.0)

In [9]:
import sys
import sklearn.neighbors._base
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base

In [10]:
from missingpy import MissForest
# MissForest uses Random Forest Algo in the backend 
#to find out the best suitable values for the missing values using Proximity Matrix.
imputer = MissForest()

In [11]:
X = df.drop('Survived', axis = 1)
y = df['Survived']

In [12]:
X.columns

Index(['Pclass', 'Sex', 'Age', 'Fare'], dtype='object')

In [13]:
from sklearn.preprocessing import LabelEncoder
lab = LabelEncoder()

X['Sex'] = lab.fit_transform(X['Sex'])

In [14]:
X_imputed = imputer.fit_transform(X)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3

In [15]:
X_imputed

array([[ 3.        ,  1.        , 22.        ,  7.25      ],
       [ 1.        ,  0.        , 38.        , 71.2833    ],
       [ 3.        ,  0.        , 26.        ,  7.925     ],
       ...,
       [ 3.        ,  0.        , 20.93133333, 23.45      ],
       [ 1.        ,  1.        , 26.        , 30.        ],
       [ 3.        ,  1.        , 32.        ,  7.75      ]])

In [16]:
column_values = ['Pclass', 'Sex', 'Age', 'Fare']

In [17]:
X_new = pd.DataFrame(data = X_imputed,
                     columns = column_values)

In [18]:
X_new.head()

   Pclass  Sex   Age     Fare
0     3.0  1.0  22.0   7.2500
1     1.0  0.0  38.0  71.2833
2     3.0  0.0  26.0   7.9250
3     1.0  0.0  35.0  53.1000
4     3.0  1.0  35.0   8.0500

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size = 0.2, random_state=45)

In [20]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [21]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [22]:
y_pred = model.predict(X_test)

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8100558659217877

In [24]:
model.score(X_test, y_test)

0.8100558659217877